<div class="header">

    <div class="header-left">
        <a href="#/">shoes</a>

    </div>

    <div class="header-right">
        <a href="#/bag" class ="bag nav">bag</a>




    </div>

</div>


<div class="s-wrapper">
    <h1>shopping bag.</h1>

    <ul>
        <li class="white1" ng-repeat="shoe in mainCtrl.shoesBag">
            <div class="inner1">
                <img class="picture1" src="{{shoes.picture}}">
                <p class = "title1">{{shoes.title}}</p>
            </div>
            <div class="inner1" id="xxx">
                <button class="remove" ng-click="mainCtrl.removeShoeBag(shoe)">x</button>

            </div>
        </li>
    </ul>

</div>
