
<div class="header">

    <div class="header-left">
        <a href="#/">Shoes</a>

    </div>

    <div class="header-right">
        <a href="#/bag" class ="bag nav">bag</a>



    </div>

</div>


<div class="wrapper">
    <h1>Shoes</h1>


    <ul>
        <li class="list" ng-repeat="shoes in mainCtrl.shoes">
            <div class="second">
                <img class="picture" src="{{shoes.picture}}">
                <br>
                <p class = "title">{{shoes.title}}</p>
                <button class="buy" ng-click="mainCtrl.addShoesBag(shoes)">BUY</button>
            <!--     <a href='#/edit/{{\$index}}'>Edit</a> -->
            </div>
        </li>
    </ul>

</div>


<!-- <input type= 'text' ng model= 'username'>

<button ng-click='mainCtrl.login(username)'Login</button> -->
