
<div class="header">

    <div class="header-center">
        <a href="#/">Shoes</a>

        <a href="#/cart" class ="bag nav">bag</a>

        <a href="#/admin" class ="bag nav">admin</a>

    </div>

</div>


<div class="wrapper">
    <h1>Shoes</h1>


    <!-- <button ng-click= 'show= !show'> add New Shoe</button>
    <form ng-show='show' ng-submit="mainCtrl" -->

    <!--can use ng hide and show ^ -->


    <ul>
        <li class="list" ng-repeat="product in mainCtrl.products">
            <div class="second">
                <img class="picture" ng-src="{{product.picture}}">
                <br>
                <p class = "title">{{product.title}}</p>

                <div ng-controller="CartController as cart">

                <button ng-click="cart.addCartProduct(product)">buy</button>
                </div>
                <br>
                <p class = "price">{{product.price}}</p>

            </div>
        </li>
    </ul>

</div>


<!--     <div class="signup">
<input type= 'text' ng model= 'username'>

<button ng-click='mainCtrl.login(username)'>Login</button>
</div>
 -->
